!.settings
/target

.project

.classpath

lab.war

.settings/org.eclipse.wst.common.project.facet.core.xml

.settings/org.eclipse.wst.common.component

*.prefs

.DS_Store

target/classes/META-INF/spring/integration/spring-integration-context.xml
